# Node
node_modules

/content/panorama/scripts/custom_game/**/*.js
/content/panorama/styles/custom_game/**/*.css
/src/localization/build/**/*.js

!/content/panorama/styles/custom_game/heroSelection.css

# Cache crap that Valve autogenerates
*.bin

# Compiled formats
*.vpcf_c
*.vtex_c
*.vsndevts_c
*.vmat_c
*.vjs_c
*.vxml_c
*.vcss_c
*.vmdl_c
*.vanim_c
*.vmesh_c
*.vagrp_c
*.vsnd_c
*.vseq_c

# Panorama debugger
*.cfg

# Commit panorama compiled textures
!game/panorama/images/*.vtex_c
!game/panorama/images/custom_game/*.vtex_c

# Map files
*.vpk

settings.kv
image_names.txt

# Map overviews
content/materials/overviews/*
game/materials/overviews/*
game/resource/overviews/*

#Github dump
*.stackdump
game/resource/addon_english.txt
content/panorama/scripts/custom_game/bundle.js.map
game/scripts/vscripts/abilities_meta.lua
game/scripts/vscripts/addon_game_mode.lua
game/scripts/vscripts/collisions_manager.lua
game/scripts/vscripts/custom_events.lua
game/scripts/vscripts/projectiles.lua
game/scripts/vscripts/settings.lua
game/scripts/vscripts/util.lua
game/scripts/vscripts/abilities/framework/ability_definition.lua
game/scripts/vscripts/abilities/framework/custom_ability.lua
game/scripts/vscripts/abilities/framework/custom_modifier.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_basic_attack.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_counter.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_extra.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_mobility.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_second_attack.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_special_attack.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_ultimate.lua
game/scripts/vscripts/abilities/heroes/juggernaut/modifier_juggernaut_spin_animation.lua
game/scripts/vscripts/abilities/heroes/juggernaut/modifier_juggernaut_swiftness.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_basic_attack/juggernaut_basic_attack.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_basic_attack/modifier_juggernaut_basic_attack_stacks.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_counter/juggernaut_counter.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_counter/modifier_juggernaut_counter_countering.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_counter/modifier_juggernaut_counter_recast.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_counter/modifier_juggernaut_counter.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_counter/modifier_juggernaut_ex_counter_recast.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_counter/modifier_juggernaut_ex_counter_slashes.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_counter/modifier_juggernaut_ex_counter.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_extra/juggernaut_extra.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_extra/modifier_juggernaut_extra_recast.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_extra/modifier_juggernaut_extra_shield.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_extra/modifier_juggernaut_extra_ward.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_extra/modifier_juggernaut_extra.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_mobility/juggernaut_mobility.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_mobility/modifier_juggernaut_mobility.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_second_attack/juggernaut_second_attack.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_second_attack/modifier_juggernaut_second_attack_recast.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_second_attack/modifier_juggernaut_second_attack.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_special_attack/juggernaut_special_attack.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_special_attack/modifier_juggernaut_special_attack_recast.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_ultimate/juggernaut_ultimate.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_ultimate/modifier_juggernaut_ultimate_banish.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_ultimate/modifier_juggernaut_ultimate_displacement.lua
game/scripts/vscripts/abilities/heroes/juggernaut/juggernaut_ultimate/modifier_juggernaut_ultimate_slashing.lua
game/scripts/vscripts/abilities/heroes/phantom/modifier_phantom_bleed.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_basic_attack.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_counter.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_extra.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_mobility.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_second_attack.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_special_attack.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_ultimate.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_basic_attack/modifier_phantom_ex_basic_attack.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_basic_attack/phantom_basic_attack_related.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_basic_attack/phantom_basic_attack.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_counter/modifier_phantom_counter_banish.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_counter/modifier_phantom_counter_countering.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_counter/modifier_phantom_counter_recast.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_counter/modifier_phantom_counter_shield.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_counter/modifier_phantom_counter.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_counter/modifier_phantom_ex_counter_recast.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_counter/phantom_counter.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_extra/modifier_phantom_extra_displacement.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_extra/modifier_phantom_extra_recast.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_extra/modifier_phantom_extra_slashes.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_extra/modifier_phantom_extra.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_extra/phantom_extra.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_mobility/modifier_phantom_mobility_charges.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_mobility/modifier_phantom_mobility_debuff.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_mobility/modifier_phantom_mobility_displacement.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_mobility/modifier_phantom_mobility_shield.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_mobility/phantom_mobility.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_second_attack/modifier_phantom_second_attack_recast.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_second_attack/phantom_second_attack.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_shared_modifiers/modifier_phantom_banish.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_shared_modifiers/modifier_phantom_strike_stack.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_special_attack/modifier_phantom_special_attack_charges.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_special_attack/phantom_special_attack.lua
game/scripts/vscripts/abilities/heroes/phantom/phantom_ultimate/phantom_ultimate.lua
game/scripts/vscripts/abilities/heroes/puck/modifier_puck_fairy_dust.lua
game/scripts/vscripts/abilities/heroes/puck/puck_basic_attack.lua
game/scripts/vscripts/abilities/heroes/puck/puck_counter.lua
game/scripts/vscripts/abilities/heroes/puck/puck_extra.lua
game/scripts/vscripts/abilities/heroes/puck/puck_mobility.lua
game/scripts/vscripts/abilities/heroes/puck/puck_second_attack.lua
game/scripts/vscripts/abilities/heroes/puck/puck_special_attack.lua
game/scripts/vscripts/abilities/heroes/puck/puck_ultimate.lua
game/scripts/vscripts/abilities/heroes/puck/puck_basic_attack/modifier_puck_basic_attack_cooldown.lua
game/scripts/vscripts/abilities/heroes/puck/puck_basic_attack/modifier_puck_basic_attack_thinker.lua
game/scripts/vscripts/abilities/heroes/puck/puck_basic_attack/modifier_puck_ex_basic_attack_shield.lua
game/scripts/vscripts/abilities/heroes/puck/puck_basic_attack/modifier_puck_ex_basic_attack.lua
game/scripts/vscripts/abilities/heroes/puck/puck_basic_attack/puck_basic_attack.lua
game/scripts/vscripts/abilities/heroes/puck/puck_counter/modifier_puck_counter_banish.lua
game/scripts/vscripts/abilities/heroes/puck/puck_counter/modifier_puck_counter_charges.lua
game/scripts/vscripts/abilities/heroes/puck/puck_counter/puck_counter.lua
game/scripts/vscripts/abilities/heroes/puck/puck_extra/modifier_puck_extra_debuff.lua
game/scripts/vscripts/abilities/heroes/puck/puck_extra/modifier_puck_extra_recast_used.lua
game/scripts/vscripts/abilities/heroes/puck/puck_extra/modifier_puck_extra_recast.lua
game/scripts/vscripts/abilities/heroes/puck/puck_extra/puck_extra.lua
game/scripts/vscripts/abilities/heroes/puck/puck_mobility/modifier_puck_ex_mobility_fear.lua
game/scripts/vscripts/abilities/heroes/puck/puck_mobility/modifier_puck_ex_mobility_recast.lua
game/scripts/vscripts/abilities/heroes/puck/puck_mobility/modifier_puck_mobility_recast.lua
game/scripts/vscripts/abilities/heroes/puck/puck_mobility/puck_mobility.lua
game/scripts/vscripts/abilities/heroes/puck/puck_second_attack/puck_second_attack.lua
game/scripts/vscripts/abilities/heroes/puck/puck_special_attack/modifier_puck_special_attack_thinker.lua
game/scripts/vscripts/abilities/heroes/puck/puck_special_attack/puck_special_attack.lua
game/scripts/vscripts/abilities/heroes/puck/puck_ultimate/modifier_puck_ultimate_area_check.lua
game/scripts/vscripts/abilities/heroes/puck/puck_ultimate/modifier_puck_ultimate_debuff.lua
game/scripts/vscripts/abilities/heroes/puck/puck_ultimate/modifier_puck_ultimate_thinker.lua
game/scripts/vscripts/abilities/heroes/puck/puck_ultimate/puck_ultimate.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_basic_attack.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_counter.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_extra.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_mobility.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_second_attack.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_special_attack.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_ultimate.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_basic_attack/modifier_sniper_basic_attack_charges.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_basic_attack/sniper_basic_attack.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_counter/modifier_sniper_counter.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_counter/sniper_counter.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_extra/modifier_sniper_extra_displacement_enemy.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_extra/modifier_sniper_extra_displacement.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_extra/sniper_extra.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_mobility/modifier_sniper_mobility_displacement.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_mobility/sniper_mobility.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_second_attack/sniper_second_attack.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_shared_modifiers/modifier_sniper_shrapnel_debuff.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_shared_modifiers/modifier_sniper_shrapnel_thinker_custom.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_special_attack/modifier_sniper_ex_special_attack_buff.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_special_attack/modifier_sniper_ex_special_attack_thinker.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_special_attack/modifier_sniper_special_attack_charges.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_special_attack/modifier_sniper_special_attack_recast.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_special_attack/sniper_special_attack_recast.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_special_attack/sniper_special_attack.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_ultimate/modifier_sniper_ultimate_channeling.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_ultimate/modifier_sniper_ultimate_displacement.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_ultimate/modifier_sniper_ultimate_hit.lua
game/scripts/vscripts/abilities/heroes/sniper/sniper_ultimate/sniper_ultimate.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_basic_attack.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_counter.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_extra.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_mobility.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_second_attack.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_special_attack.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_ultimate.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_basic_attack/modifier_spectre_basic_attack_cooldown.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_basic_attack/spectre_basic_attack.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_counter/modifier_spectre_counter_countering.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_counter/modifier_spectre_counter_recast.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_counter/modifier_spectre_counter.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_counter/modifier_spectre_ex_counter_debuff.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_counter/modifier_spectre_ex_counter.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_counter/spectre_counter_recast.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_counter/spectre_counter.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_extra/modifier_spectre_debuff.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_extra/modifier_spectre_extra_recast.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_extra/modifier_spectre_extra.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_extra/spectre_extra.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_mobility/modifier_spectre_ex_mobility_fear.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_mobility/modifier_spectre_mobility_charges.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_mobility/modifier_spectre_mobility_thinker.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_mobility/spectre_mobility.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_second_attack/modifier_spectre_second_attack_displacement.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_second_attack/spectre_second_attack.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_shared_modifiers/modifier_spectre_banish.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_shared_modifiers/modifier_spectre_desolate_custom/modifier_spectre_desolate_custom.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_special_attack/modifier_spectre_ex_special_attack_banish.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_special_attack/modifier_spectre_ex_special_attack_recast.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_special_attack/modifier_spectre_ex_special_attack_thinker.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_special_attack/modifier_spectre_special_attack_buff.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_special_attack/modifier_spectre_special_attack_debuff.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_special_attack/modifier_spectre_special_attack_thinker.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_special_attack/spectre_special_attack.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_ultimate/modifier_spectre_ultimate_thinker.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_ultimate/modifier_spectre_ultimate.lua
game/scripts/vscripts/abilities/heroes/spectre/spectre_ultimate/spectre_ultimate.lua
game/scripts/vscripts/abilities/heroes/storm/storm_basic_attack.lua
game/scripts/vscripts/abilities/heroes/storm/storm_counter.lua
game/scripts/vscripts/abilities/heroes/storm/storm_extra.lua
game/scripts/vscripts/abilities/heroes/storm/storm_mobility.lua
game/scripts/vscripts/abilities/heroes/storm/storm_second_attack.lua
game/scripts/vscripts/abilities/heroes/storm/storm_special_attack.lua
game/scripts/vscripts/abilities/heroes/storm/storm_ultimate.lua
game/scripts/vscripts/abilities/heroes/storm/storm_basic_attack/modifier_storm_basic_attack_cooldown.lua
game/scripts/vscripts/abilities/heroes/storm/storm_basic_attack/modifier_storm_ex_basic_attack.lua
game/scripts/vscripts/abilities/heroes/storm/storm_basic_attack/storm_basic_attack.lua
game/scripts/vscripts/abilities/heroes/storm/storm_counter/modifier_storm_counter_countering.lua
game/scripts/vscripts/abilities/heroes/storm/storm_counter/modifier_storm_counter_displacement.lua
game/scripts/vscripts/abilities/heroes/storm/storm_counter/storm_counter.lua
game/scripts/vscripts/abilities/heroes/storm/storm_extra/modifier_storm_extra_displacement.lua
game/scripts/vscripts/abilities/heroes/storm/storm_extra/modifier_storm_extra.lua
game/scripts/vscripts/abilities/heroes/storm/storm_extra/storm_extra.lua
game/scripts/vscripts/abilities/heroes/storm/storm_mobility/modifier_storm_ex_mobility_thinker.lua
game/scripts/vscripts/abilities/heroes/storm/storm_mobility/modifier_storm_mobility_charges.lua
game/scripts/vscripts/abilities/heroes/storm/storm_mobility/modifier_storm_mobility_thinker.lua
game/scripts/vscripts/abilities/heroes/storm/storm_mobility/storm_mobility.lua
game/scripts/vscripts/abilities/heroes/storm/storm_second_attack/modifier_storm_second_attack.lua
game/scripts/vscripts/abilities/heroes/storm/storm_second_attack/storm_second_attack.lua
game/scripts/vscripts/abilities/heroes/storm/storm_special_attack/modifier_storm_special_attack_efx.lua
game/scripts/vscripts/abilities/heroes/storm/storm_special_attack/modifier_storm_special_attack_thinker.lua
game/scripts/vscripts/abilities/heroes/storm/storm_special_attack/storm_special_attack.lua
game/scripts/vscripts/abilities/heroes/storm/storm_ultimate/modifier_storm_ultimate_banish.lua
game/scripts/vscripts/abilities/heroes/storm/storm_ultimate/modifier_storm_ultimate_displacement.lua
game/scripts/vscripts/abilities/heroes/storm/storm_ultimate/modifier_storm_ultimate_thinker.lua
game/scripts/vscripts/abilities/heroes/storm/storm_ultimate/modifier_storm_ultimate.lua
game/scripts/vscripts/abilities/heroes/storm/storm_ultimate/storm_ultimate.lua
game/scripts/vscripts/clases/alliance.lua
game/scripts/vscripts/clases/breakable_bounty.lua
game/scripts/vscripts/clases/dummy_target.lua
game/scripts/vscripts/clases/game_state.lua
game/scripts/vscripts/clases/gem.lua
game/scripts/vscripts/clases/Item.lua
game/scripts/vscripts/clases/pickup.lua
game/scripts/vscripts/clases/player.lua
game/scripts/vscripts/clases/unit_entity.lua
game/scripts/vscripts/clases/pve/custom_ai.lua
game/scripts/vscripts/clases/pve/custom_npc.lua
game/scripts/vscripts/clases/pve/pre_run.lua
game/scripts/vscripts/clases/pve/room.lua
game/scripts/vscripts/clases/pve/run.lua
game/scripts/vscripts/clases/pve/spawner.lua
game/scripts/vscripts/clases/pve/stage.lua
game/scripts/vscripts/clases/pvp/pre_round.lua
game/scripts/vscripts/clases/pvp/round.lua
game/scripts/vscripts/clases/pvp/warmup.lua
game/scripts/vscripts/rewards/rewards.lua
game/scripts/vscripts/upgrades/common.lua
game/scripts/vscripts/upgrades/favors.lua
game/scripts/vscripts/upgrades/items.lua
game/scripts/vscripts/upgrades/juggernaut.lua
game/scripts/vscripts/upgrades/phantom.lua
game/scripts/vscripts/upgrades/shards.lua
game/scripts/vscripts/upgrades/sniper.lua
game/scripts/vscripts/upgrades/storm.lua
game/scripts/vscripts/upgrades/upgrades.lua
game/scripts/vscripts/util/custom_entities.lua
game/scripts/vscripts/util/custom_items.lua
game/scripts/vscripts/util/math.lua
game/scripts/vscripts/modifiers/modifier_casting.lua
game/scripts/vscripts/modifiers/modifier_charges.lua
game/scripts/vscripts/modifiers/modifier_combat_events.lua
game/scripts/vscripts/modifiers/modifier_cooldown.lua
game/scripts/vscripts/modifiers/modifier_counter.lua
game/scripts/vscripts/modifiers/modifier_displacement.lua
game/scripts/vscripts/modifiers/modifier_gem.lua
game/scripts/vscripts/modifiers/modifier_hide_bar.lua
game/scripts/vscripts/modifiers/modifier_obstacle copy.lua
game/scripts/vscripts/modifiers/modifier_obstacle.lua
game/scripts/vscripts/modifiers/modifier_radius_marker.lua
game/scripts/vscripts/modifiers/modifier_radius.lua
game/scripts/vscripts/modifiers/modifier_recast.lua
game/scripts/vscripts/modifiers/modifier_root.lua
game/scripts/vscripts/modifiers/modifier_shield.lua
game/scripts/vscripts/modifiers/modifier_stunned.lua
game/scripts/vscripts/modifiers/modifier_thinker.lua
game/scripts/vscripts/modifiers/modifier_wall.lua
game/scripts/vscripts/lib/dota_ts_adapter.lua
game/scripts/vscripts/lib/tstl-utils.lua
game/scripts/vscripts/modifiers/gems/modifier_amethyst.lua
game/scripts/vscripts/modifiers/gems/modifier_emerald.lua
game/scripts/vscripts/modifiers/gems/modifier_ruby.lua
game/scripts/vscripts/modifiers/gems/modifier_sapphire.lua
game/scripts/vscripts/modifiers/generic/modifier_generic_change_ms.lua
game/scripts/vscripts/modifiers/generic/modifier_generic_disarm.lua
game/scripts/vscripts/modifiers/generic/modifier_generic_flying.lua
game/scripts/vscripts/modifiers/generic/modifier_generic_ignore_ms_limit.lua
game/scripts/vscripts/modifiers/generic/modifier_generic_no_health_bar.lua
game/scripts/vscripts/modifiers/generic/modifier_generic_use_energy.lua
game/scripts/vscripts/modifiers/modifier_adrenaline.lua
game/scripts/vscripts/modifiers/modifier_banish.lua
game/scripts/vscripts/modifiers/modifier_death_zone.lua
game/scripts/vscripts/modifiers/modifier_fading_slow.lua
game/scripts/vscripts/abilities/heroes/invoker/invoker_basic_attack.lua
game/scripts/vscripts/abilities/heroes/invoker/invoker_common.lua
game/scripts/vscripts/abilities/heroes/invoker/invoker_counter.lua
game/scripts/vscripts/abilities/heroes/invoker/invoker_extra.lua
game/scripts/vscripts/abilities/heroes/invoker/invoker_helper.lua
game/scripts/vscripts/abilities/heroes/invoker/invoker_mobility.lua
game/scripts/vscripts/abilities/heroes/invoker/invoker_orb.lua
game/scripts/vscripts/abilities/heroes/invoker/invoker_second_attack.lua
game/scripts/vscripts/abilities/heroes/invoker/invoker_special_attack.lua
game/scripts/vscripts/abilities/heroes/invoker/invoker_ultimate.lua
game/scripts/vscripts/abilities/heroes/invoker/invocations/invoker_alacrity_custom.lua
game/scripts/vscripts/abilities/heroes/invoker/invocations/invoker_blast_custom.lua
game/scripts/vscripts/abilities/heroes/invoker/invocations/invoker_emp_custom.lua
game/scripts/vscripts/abilities/heroes/invoker/invocations/invoker_meteor_custom.lua
game/scripts/vscripts/abilities/heroes/invoker/invocations/invoker_snap_custom.lua
game/scripts/vscripts/abilities/heroes/invoker/invocations/invoker_spirit_custom.lua
game/scripts/vscripts/abilities/heroes/invoker/invocations/invoker_sun_custom.lua
game/scripts/vscripts/abilities/heroes/invoker/invocations/invoker_walk_custom.lua
game/scripts/vscripts/abilities/heroes/invoker/invoker_extra/invoker_alacrity_custom.lua
game/scripts/vscripts/abilities/heroes/invoker/invocations/invoker_tornado_custom.lua
game/scripts/vscripts/abilities/heroes/invoker/invocations/invoker_wall_custom.lua
game/scripts/vscripts/modifiers/modifier_sleep.lua
game/scripts/vscripts/abilities/heroes/mars/mars_basic_attack.lua
game/scripts/vscripts/abilities/heroes/mars/mars_counter.lua
game/scripts/vscripts/abilities/heroes/mars/mars_mobility.lua
game/scripts/vscripts/abilities/heroes/mars/mars_second_attack.lua
game/scripts/vscripts/abilities/heroes/mars/mars_extra.lua
game/scripts/vscripts/abilities/heroes/mars/mars_special_attack.lua
game/scripts/vscripts/abilities/heroes/mars/mars_ultimate.lua
game/scripts/vscripts/abilities/heroes/nevermore/nevermore_basic_attack.lua
game/scripts/vscripts/abilities/heroes/nevermore/nevermore_counter.lua
game/scripts/vscripts/abilities/heroes/nevermore/nevermore_extra.lua
game/scripts/vscripts/abilities/heroes/nevermore/nevermore_mobility.lua
game/scripts/vscripts/abilities/heroes/nevermore/nevermore_second_attack.lua
game/scripts/vscripts/abilities/heroes/nevermore/nevermore_special_attack.lua
game/scripts/vscripts/abilities/heroes/nevermore/nevermore_ultimate.lua
game/scripts/vscripts/abilities/heroes/nevermore/nevermore_extra/nevermore_extra.lua
game/scripts/vscripts/modifiers/modifier_silence.lua
game/scripts/vscripts/abilities/heroes/pango/modifier_pango_mobility.lua
game/scripts/vscripts/abilities/heroes/pango/modifier_pango_roll_end_animation.lua
game/scripts/vscripts/abilities/heroes/pango/pango_basic_attack.lua
game/scripts/vscripts/abilities/heroes/pango/pango_mobility.lua
game/scripts/vscripts/abilities/heroes/pango/pango_second_attack.lua
game/scripts/vscripts/abilities/heroes/pango/pango_special_attack.lua
game/scripts/vscripts/abilities/heroes/pango/pango_counter.lua
game/scripts/vscripts/abilities/heroes/pango/pango_ultimate.lua
game/scripts/vscripts/pve/abilities/units/flying_skull_dash.lua
game/scripts/vscripts/pve/abilities/units/dire_creep_rage_aura.lua
game/scripts/vscripts/pve/abilities/units/dire_creep_attack_range.lua
game/scripts/vscripts/pve/abilities/units/dire_creep_grenade.lua
game/scripts/vscripts/pve/abilities/units/dire_creep_attack_meele.lua
game/scripts/vscripts/pve/abilities/heroes/centaur/centaur_axe_attack.lua
game/scripts/vscripts/pve/abilities/units/dire_tower_attack.lua
game/scripts/vscripts/pve/abilities/units/radiant_creep_heal_aura.lua
game/scripts/vscripts/pve/abilities/heroes/centaur/centaur_charge.lua
game/scripts/vscripts/pve/abilities/heroes/centaur/centaur_passive.lua
game/scripts/vscripts/pve/abilities/heroes/centaur/centaur_rage.lua
game/scripts/vscripts/pve/abilities/heroes/centaur/centaur_short_attack.lua
game/scripts/vscripts/pve/abilities/heroes/centaur/centaur_range_attack.lua
game/scripts/vscripts/pve/abilities/heroes/queen/queen_attack.lua
game/scripts/vscripts/pve/abilities/heroes/queen/queen_blink.lua
game/scripts/vscripts/pve/abilities/heroes/queen/queen_daggers.lua
game/scripts/vscripts/pve/abilities/heroes/queen/queen_dodge.lua
game/scripts/vscripts/pve/abilities/heroes/queen/queen_scream.lua
game/scripts/vscripts/pve/abilities/heroes/queen/queen_wave.lua
game/scripts/vscripts/abilities/glow.lua
game/scripts/vscripts/abilities/passive_walk.lua
