# Node
node_modules

/content/panorama/scripts/custom_game/**/*.js
*.css
/src/localization/build/**/*.js

!/content/panorama/styles/custom_game/heroSelection.css

# Cache crap that Valve autogenerates
*.bin

# Compiled formats
*.vpcf_c
*.vtex_c
*.vsndevts_c
*.vmat_c
*.vjs_c
*.vxml_c
*.vcss_c
*.vmdl_c
*.vanim_c
*.vmesh_c
*.vagrp_c
*.vsnd_c
*.vseq_c
*.cfg
*.vpk

settings.kv
image_names.txt

# Map overviews
content/materials/overviews/*
game/materials/overviews/*
game/resource/overviews/*

#Github dump
*.stackdump
game/resource/addon_english.txt
content/panorama/scripts/custom_game/bundle.js.map

#Lua builds
game/scripts/vscripts/abilities/*
game/scripts/vscripts/clases/*
game/scripts/vscripts/upgrades/*
game/scripts/vscripts/modifiers/*
game/scripts/vscripts/pve/*
game/scripts/vscripts/items/*

game/scripts/vscripts/rewards/rewards.lua

game/scripts/vscripts/util/custom_entities.lua
game/scripts/vscripts/util/custom_items.lua
game/scripts/vscripts/util/math.lua

game/scripts/vscripts/lib/dota_ts_adapter.lua
game/scripts/vscripts/lib/tstl-utils.lua

game/scripts/vscripts/lualib_bundle.lua
game/scripts/vscripts/alliance.lua
game/scripts/vscripts/alliance_definitions.lua
game/scripts/vscripts/entities.lua
game/scripts/vscripts/game_init.lua
game/scripts/vscripts/game.lua
game/scripts/vscripts/players.lua
game/scripts/vscripts/precache.lua
game/scripts/vscripts/abilities_meta.lua
game/scripts/vscripts/addon_game_mode.lua
game/scripts/vscripts/collisions_manager.lua
game/scripts/vscripts/custom_events.lua
game/scripts/vscripts/projectiles.lua
game/scripts/vscripts/settings.lua
game/scripts/vscripts/util.lua
game/scripts/vscripts/adventure.lua
game/scripts/vscripts/allianceDefinitions.lua
game/scripts/vscripts/battle.lua
game/scripts/vscripts/npc_definitions.lua
game/scripts/vscripts/common.lua
game/scripts/vscripts/animation.lua
game/scripts/vscripts/ai.lua
game/scripts/vscripts/abilities.lua
game/scripts/vscripts/reward_definitions.lua
