.hero-overhead{
    &__top{
        width: 100%;
        height: 60px;
    }

    &__mid{
        width: 100%;
        height: 30px;
        margin-bottom: 2px;
    }

    &__bot{
        width: 100%;
        height: 31px;
        flow-children: right;
    }
}

.hero-overhead-charges{
    height: 100%;
    width: 30px;
}

.hero-overhead-resources{
    height: 36px;
    width: 100px;
    flow-children: down;
    margin-right: 2px;

    &__energy{
        width: 100%;
        height: 5px;

        flow-children: right;

        padding: 0 1px;
        margin-top: -2px;
    }

    &__health{
        width: 100%;
        height: 13px;

        margin-bottom: 1px;
        background-color: rgba($color: #000000, $alpha: 0.2);
        border-radius: 3px;
    }
    
    &__mana{
        width: 100%;
        height: 5px;

        flow-children: right;
        
        padding: 0 1px;
        margin-bottom: 1px;
    }

    &__castpoint{
        opacity: 0.0;
        width: 100%;
        height: 6px;
        padding: 0 1px;
        
        transition-property: opacity;
        transition-duration: 0.3s;
    }
}

.hero-overhead-ammo{
    height: 100%;
    width: 30px;

    
    &__stackbars{
        height: 100%;
        width: 100%;
    }
    
    &__cooldown{
        height: 100%;
        width: 100%;
    }
}

.switch-panel{
    height: 100%;
    width: 100%;
}