.player-name {
  height: 100%;
  width: 100%;

  &__text {
    height: 50%;
    width: 100%;

    text-align: center;
    vertical-align: bottom;

    font-size: 12px;
    font-weight: bold;
    text-shadow: 0px 0px 3px 3 #333333b0;

    text-transform: uppercase;
    color: #fafafa;
  }
}
