.main {
    height: 100%;
    width: 100%;
}

.ready-bar {
    height: 0px;
    width: 100%;

    transition-property: height;
    transition-duration: 0.2s;

    align: center center;
    color: black;

    background-color: rgba(0, 0, 0, 0.85);

    &__title {
        color: #ece4b7;
        font-size: 96px;
        align: center center;
        text-transform: uppercase;
    }
}

.room-status {
    margin-left: 11px;
    margin-top: 500px;
    flow-children: down;
    color: #ece4b7;
    font-size: 12px;
}

.game-state {
    color: white;
    font-size: 12px;
}
