.MainPanel
{
    width: 100%;
    height: 100%;
}

#HeroesStatusContainer{
    width: 100%;
    height: 600px;
    margin-top: 170px;
    padding: 0 20px;
}

.TeamHeroesStatus{
    width: 300px;
    height: 100%;
    flow-children: down;
}

#TeamHeroesStatusLeft{
    align: left top;
}

#TeamHeroesStatusRight{
    align: right top;
}

.TeamStatusContainer{
    height: 50%;
    width: 100%;
    flow-children: down;
}


#TeamHeroesStatusRight .HeroStatus{
    align: right top;
}

.HeroStatus{
    width: 100px;
    height: 70px;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(36, 42, 53, 1.0) ), to( rgba(36, 42, 53, 0.6) ) );
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(36, 42, 53);
    flow-children: down;
    border-radius: 5px;
    margin-bottom: 10px;
}

.HeroStatus .HeroStatusTop{
    height: 80%;
    width: 100%;
    flow-children: right;
    /*border: 1px solid green;*/
}

.HeroStatus .HeroStatusBottom{
    height: 20%;
    width: 100%;
    flow-children: down;
}

.HeroStatus .HeroStatusBottom .HeroHealthBar{
    height: 60%;
    width: 100%;
    background-color: rgba(36, 42, 53, 0.6);
    border: 1px solid rgb(36, 42, 53);
}

.HeroStatus .HeroStatusBottom .HeroManaBar{
    height: 40%;
    width: 100%;
    background-color: rgba(36, 42, 53, 0.6);
}

.HeroStatus .HeroStatusBottom .HeroManaBar .HeroManaBarInner{
    height: 100%;
    width: 100%;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(27, 113, 210, 1.0) ), to( rgba(120, 156, 190, 1.0) ) );
}

.HeroStatus .HeroStatusBottom .HeroHealthBar .HeroHealthBarInnerBack{
    width: 100%;
    height: 100%;
    background-color: white;
    transition-property: width;
    transition-duration: 0.5s;
}

.HeroStatus .HeroStatusBottom .HeroHealthBar .HeroHealthBarInner{
    width: 100%;
    height: 100%;
}