
.hero-info-card{
    margin-bottom: 10px;    

    opacity: 0.97;

    flow-children: right;

    &--right{
        flow-children: left;
    }
}

.hero-info-card__left{
    width: 100px;
    
    flow-children: down;
}

.hero-info-card__right{
    height: 100%;

    flow-children: right;
}


.hero-info-card__top{
    height: 55px;
}

.hero-info-card__mid{
    height: 30px;
    width: 100%;
    margin-bottom: 2px;
}

.hero-info-card__bot{
    width: 100%;
}

.hero-info-card__image{
    border: 1px solid rgb(36, 42, 53);
}

.hero-info-card-resources{
    height: 100%;
    width: 100%;
    flow-children: down;
}

.hero-info-card-resources__health{
    height: 70%;
    width: 100%;
    background-color:rgba(36, 42, 53, 0.2);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
}

.hero-info-card-resources__mana{
    height: 30%;
    width: 100%;
    flow-children: right;
    padding: 0 1px;
}


.hero-info-card__abilities{
    height: 50px;
    width: 150px;
    padding: 5px 10px;
    background-color: gradient(linear, 0% 0%, 100% 0%, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.0)));;
    flow-children: right;

    &--right{
        background-color: gradient(linear, 0% 0%, 100% 0%, from(rgba(0, 0, 0, 0.0)), to(rgba(0, 0, 0, 0.3)));;
        flow-children: left;
    }
}

.hero-info-card__ability{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100%;
    box-shadow:0 0 5px rgba(0, 0, 0, 1.0);
    margin-right: 5px;

    transition-property: width;
    transition-duration: 0.25s;
}


.hero-info-card__ability-text{
    width: 100%;
    height: 20px;

    text-align: center;
    text-transform: uppercase;
    text-align: center;
    color: #FAFAFA;
    font-size: 14px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
