.MainPanel
{
    width: 100%;
    height: 100%;
}

.HeroBar #HealthTreshold
{
    border: 1px solid black;
    height: 12px;
    width: 110px;
    background-color: white;
    align: center center;
}
