
.hero-status{
    width: 102px;
    margin-bottom: 10px;    

    background-color: rgb(25, 27, 32);
    opacity: 0.97;

    transition-property: opacity;
    transition-duration: 0.2s;

    flow-children: down;
}

.hero-status__top{
    height: 55px;
    width: 100%;
}

.hero-status__mid{
    height: 30px;
    width: 100%;
    margin-bottom: 2px;
}

.hero-status__bot{
    width: 100%;
}

.hero-status__image{
    border: 1px solid rgb(36, 42, 53);
}

.hero-status-resources{
    height: 100%;
    width: 100%;
    flow-children: down;
}

.hero-status-resources__health{
    height: 70%;
    width: 100%;
    background-color:rgba(36, 42, 53, 0.2);
}
.hero-status-resources__mana{
    height: 30%;
    width: 100%;
    flow-children: right;
}