.MainPanel
{
    width: 100%;
    height: 100%;
}

#TopBar
{
    width: 1000px;
    height: 25px;
    margin-top: 20px;
    align: center top;
    border: 1px solid rgba(36, 42, 53, 0.5);
}

#TopBar #Clock{
    width: 100%;
    height: 100%;
    background-color: rgb(110, 110, 110);
}

#Clock #ClockText{
    color: white;
    font-size: 20px;
    align: center center;
}

#TopBar .Score{
    width: 25px;
    height: 100%;
}

.Score #ScoreText{
    font-size: 20px;
    color: white;
    align: center center;
}

.TeamHealthBar
{
    width: 400px;
    height: 100%;
    background-color: rgba(36, 42, 53, 0.5);
    border: 1px solid black;
}

.TeamHealthBarInner
{
    width: 100%;
    height: 100%;
}

.TeamHealthBarInnerBack
{
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    transition-property: width;
    transition-duration: 0.5s;
}