.top-bar {
  margin: 5px;
  width: 1400px;
  height: 150px;
  align: center top;
  flow-children: right;
}

.top-bar__left,
.top-bar__right {
  width: 40%;
  height: 100%;
}

.top-bar__middle {
  width: fill-parent-flow(1);
  height: 100%;
  flow-children: down;
  align: center center;
}

.top-bar__left {
  flow-children: left;
}

.top-bar__right {
  flow-children: right;
}

.top-bar__legion,
.top-bar__dire {
  margin-right: 5%;
}

.top-bar__radiant,
.top-bar__void {
  margin-left: 5%;
}

.top-bar__legion,
.top-bar__dire,
.top-bar__radiant,
.top-bar__void {
  height: 100%;
  width: 45%;
  flow-children: down;
}

.top-bar__clock {
  width: 100%;
  height: 50px;
  background-color: gradient(
    radial,
    50% 50%,
    0% 0%,
    50% 100%,
    from(rgba(36, 42, 53, 1)),
    to(rgba(36, 42, 53, 0))
  );
}

.top-bar__clock-text {
  color: #f9f9f9;
  font-family: Radiance, FZLanTingHei-R-GBK, TH Sarabun New, Gulim, MingLiU;
  font-size: 20px;
  align: center center;
}
