.Tutorial
{
    height:75%;
    width:100%;
}

#TutorialContent
{    
    height:100%;
    width:60%;
	margin-top: 10%;
    opacity: 0.98;
    margin-left: 20%;
    flow-children: down;
    border: 1px solid rgb(10, 11, 14);
    border-radius: 5px;
    background-color: #262A35;

    padding: 40px 50px;
    opacity: 0.98;
}

#CloseTutorialLabel
{
    font-size: 20px;
    color: #cccccc;
    background-color: rgb(59, 65, 83);

    border: 1px solid #cccccc;
    padding: 4px 10px;
    text-align: center;
    border-radius: 999px;
}

#CloseTutorialLabel:hover,
#OpenTutorial:hover
{
    background-color: rgb(101, 111, 139);
}

.TutorialTitle
{ 
    flow-children: right;
    width: 95%;
}

#OpenTutorial{
    margin-top: 770px;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #cccccc;
    background-color: rgb(59, 65, 83);
    border: 1px solid #cccccc;
    padding: 4px 10px;
    text-align: center;
    border-radius: 999px;
}

.InfoRow
{
    flow-children: right;
    width: 100%;

}

#TutorialTitle
{
    font-size: 27px;
    color: #cccccc;
    width: 100%;
    text-align: center;

    margin-bottom: 20px;
}

#WasdImage
{
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

#WasdText
{
    font-size: 23px;
    color: #cccccc;
    width: 100%;
    vertical-align: center;
}

#SpacebarImage
{
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

#SpacebarText
{
    font-size: 23px;
    color: #cccccc;
    width: 100%;
    vertical-align: center;
    text-align: right;
}

#SpacebarRow{
    flow-children: left;
}

#MouseImage
{
    width: 170px;
    height: 170px;
    margin-right: 20px;
}

#MouseText
{
    margin-top: 20%;
    font-size: 23px;
    color: #cccccc;
    width: 100%;
    vertical-align: center;
}


