.Tutorial
{
    z-index: 10;
    height: 600px;
    width: 380px;

    margin-top: 170px;
    margin-left: 170px;
    padding: 10px;
}

.Tutorial__Container
{    
    height: 100%;
    width: 100%;
    opacity: 0.95;
    border: 1px solid rgb(10, 11, 14);
    border-radius: 5px;
    background-color: #262A35;
    padding: 50px 20px 20px 20px;

    flow-children: down;
}

.Tutorial__Image{
    height: 250px;
    width: 250px;
    
    margin-bottom: 30px;

    align: center center;
}

.Tutorial__Title{
    margin-bottom: 10px;

    font-size: 20px;
    color: #ffffff;

    align: center center;
}


.Tutorial__Description{

    font-size: 16px;
    height: 100px;  
    color: #cccccc;
    align: center top;
    text-align: center;
}

.Button--Light{
    height: 40px;
    width: 100px;
    align: center top;
}

.Button:hover{
    background-color:  rgb(172, 148, 189);
}

.Button{
    height: 40px;
    width: 150px;
    align: center top;

    background-color:  #937DA3;
    border-radius: 1px;
}

.Button__Text{
    align: center center;
    color: #ffffff;
    font-size: 17px;
}

.Button--Light .Button__Text{
    color: #ffffff;
    align: center top;
    align: center center;
    font-size: 16px;
}

.Button--Light:hover .Button__Text{
    color: #c5c2c2;
}