.delayed-progress-bar {
    height: 100%;
    width: 100%;

    &__back {
        height: 100%;
        width: 100%;
        .ProgressBarLeft {
            transition: width 0.35s ease-in-out 0s;
            background-color: white;
        }
    }

    &__front {
        height: 100%;
        width: 100%;
    }
}
